<h1>Burgers</h1>
<!-- make div to display burgers before and after eaten -->
<ul>
  {{#each burgers}}
  	<li>
  	   <p>ID: {{this.id}}</p>
       <p>Burger: {{this.burgers}}</p>
       <button type="submit" name="devoure">Devoure</button>
  	</li>
  {{/each}}
</ul>

<h3>Add a Burgers</h3>
<form action="/" method="POST">
	<textarea type="text" name="burgerName"></textarea>

	<button type="submit">Submit</button>
</form>